@import 'pod-styles';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import url('https://fonts.googleapis.com/css?family=Quantico');

// color sheet
$main-text-color: #262626;
$secondary-text-color: #013548;
$tertiary-text-color: #ffffff;
$quarternary-text-color: #7d8e9e;

$primary-actions-color: #087f9d;

$primary-background-color: #f8fbfe;
$secondary-background-color: #ffffff;
$tertiary-background-color: #134257;

$primary-borders-color: #cdd3d8;

// font sheet
$primary-font-family: 'Source Sans Pro', sans-serif;
$secondary-font-family: 'Quantico', sans-serif;

body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
  font-family: $primary-font-family; 
  min-width: 768px;
  background-color: $primary-background-color;
  color: $main-text-color;
}

p {
  font-size: 18px;
  line-height: 24px;
}

button {
    color: $primary-actions-color;
    padding: 3px 10px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-family: $secondary-font-family
}

.publisher {
    .header-container {
        background-color: $tertiary-background-color;
        display: flex;
        align-items: center;

        .logo-summary, .logo-details {
            padding: 20px;
        }

        .logo-summary {
            width: 60px;
        }
        .logo-details {
            width: 40px;
        }

        .title {
            order: 1;
            flex: 5 1 auto;
            font-family: 'Quantico', sans-serif;
            font-weight: bold;
            font-size: 24px;
            color: $tertiary-text-color;
        }
    }

    .content-container {
        .info {
            margin: 20px;
            color: $quarternary-text-color;
            text-transform: uppercase;
            font-weight: 400;
        }
    }
}

.dataset {
    border: 0.5px solid$primary-borders-color;
    margin-bottom: 40px;
    box-shadow: -1px 1px 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-content: space-around;

    .header-container
    {
        display: flex;
        background-color: $secondary-background-color;
        padding: 10px;
        align-items: center;
        justify-content: space-between;
        margin: 2px;
    
        .title {
            order: 1;
            flex: 5 1 auto;
            font-family: $secondary-font-family;
            font-weight: bold;
            font-size: 18px;
            color: $secondary-text-color;
        }
    
        .actions {
            order: 2;
            flex: 2 1 auto;

            .products-summary-actions {
                color: $primary-actions-color;
                padding: 3px 10px;
                background: transparent;
                border: none;
            }
        }

        .tabs {

        }
    }

    .content-container {
        overflow: auto;
        margin: 2px;
        background-color: $secondary-background-color;

        table {
            box-shadow: 0 0 1px rgba(0,0,0,0.4);
            border: 1px solid $primary-borders-color;
        
            thead {
                background-color: $primary-background-color;
            }

            td, th
            {
                border-bottom: 1px solid $primary-borders-color;
                padding: 5px 10px;
            }
          }
    }

    .footer-container {
        footer {
            text-transform: uppercase;
            border-top: 1px solid #d6d8db;
            background-color : #f6fafd;
            padding: 6px;
            font-weight: bold;
            color: $secondary-text-color;
            margin: 2px;
        }
    }    
}
