<h3>Product Page - Index - {{publisher.title}}</h3>

{{#each products as |product|}}

{{ product-grid
    size="small"
    title=product.name 
    data=product.productDataSubset
    footer="Sample Rows"
    productID=product.id
}}

{{/each}}

{{outlet}}