<h3>Product Page - Index - {{publisher.title}}</h3>

{{#each products as |product|}}

{{ data-grid 
    title=product.name 
    titleLink=product.id
    data=product.productDataSubset
    footer="Sample Rows"
}}

{{/each}}

{{outlet}}